@model DistanceSchool.Web.ViewModels.Teams.OneTeamViewModel;
@using DistanceSchool.Common

@{
    ViewData["Title"] = "School Team";
}
<div class="row mb-2" style="background-color:azure">
    <h1 class="col-md-8 rounded"><i class="fas fa-school">@Model.SchoolName</i></h1>
    <h1 class="col-md-4 text-center rounded"><i class="fas fa-book-open"></i>@Model.TeamName</h1>
</div>
<div>
    @if (!(Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName) || Model.IsTeachesToTeam || Model.IsStudiesToTeam))
    {
        <a href="/Candidacy/StudentCandidacy/@Model.Id" class="btn btn-success mb-md-2" style="background-color:mediumaquamarine">Кандидатствaй</a>
    }
</div>
<div class="row">
    <div class="col-md-7 rounded mr-4" style="background-color:azure">
        <h3 class="text-md-center">Дисциплини:</h3>
        <div class="row">
            @foreach (var discipline in Model.Disciplines)
            {
                <div class="col-md-5 rounded m-1 offset-1 container-fluid" style="background-color:aqua">
                    @if (Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName) || Model.IsTeachesToTeam)
                    {
                        <a href="/Team/Passport?TeacherTheamId=@discipline.Id" class="btn btn-link"><h5 class="text-md-center">@discipline.DisciplineName</h5></a>
                    }
                    else
                    {
                        <h5 class="text-md-center">@discipline.DisciplineName</h5>
                    }
                    @if (!string.IsNullOrWhiteSpace(discipline.TeacherNames))
                    {
                        <p class="text-md-center">
                            @discipline.TeacherNames

                            @if (Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a href="/Team/ShiftsTecher?TeacherTeamId=@discipline.Id" class="btn btn-outline-danger btn-sm">Промени</a>
                            }
                        </p>
                    }
                    else
                    {

                        @if (Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <p class="text-md-center">
                                <a href="/Team/ShiftsTecher?TeacherTeamId=@discipline.Id" class="btn btn-outline-primary btn-sm">Добави преподавател</a>
                            </p>
                        }
                    }
                </div>
            }
            @if (Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <a href="/Team/AddDiscipline/?TeamId=@Model.Id" class="btn btn-outline-primary col-md-3 rounded m-1 container-fluid text-md-center" style="background-color:aqua">
                    <h5 class="text-md-center">Управлявай дисциплините</h5>
                </a>
            }

        </div>
    </div>
    <div class="col-md-4 rounded ml-4" style="background-color:azure">
        <h3 class="text-md-center">Ученици:</h3>
        <ol class="text-dark">
            @foreach (var student in Model.Students)
            {
                @if (Model.IsUserManager || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li><a href="/Student/OneStudent?Id=@student.Id" class=" btn-link">@student.SudentNames</a></li>

                }
                else
                {
                    <li>@student.SudentNames</li>
                }

            }
        </ol>
    </div>

</div>
@if (true)
{
    @section ChatFooter{
        <div class="text-md-right">
            <a class="mx-md-2 " asp-area="" asp-controller="Chat" asp-action="ChatStart" asp-route-teamId="@Model.Id"><i class="fas fa-comment fa-5x"></i></a>
        </div>
    }
}




